<h2>{{title}}</h2>
<div class="question-edit">
    <div class="form-group">
        <label for="text">Question text:</label>
        <br />
<textarea id="text" [(ngModel)]="question.Text"
          placeholder="enter a suitable text..."></textarea>
    </div>
    <div>
        <button *ngIf="editMode" (click)="onSubmit(question)" class="btn btn-sm btn-primary">
            <span class="glyphicon glyphicon-pencil"></span>
            Apply Changes
        </button>
        <button *ngIf="!editMode" (click)="onSubmit(question)" class="btn btn-sm btn-primary">
            <span class="glyphicon glyphicon-plus-sign"></span>
            Create the
            Question!
        </button>
        <button (click)="onBack()" class="btn btn-sm btn-primary">
            <span class="glyphicon glyphicon-chevron-left"></span>
            Cancel
        </button>
    </div>
    <answer-list *ngIf="editMode" [question]="question"></answer-list>
</div>